.table{
    border-collapse: collapse;
    margin-top: 100px;
    
    th, td{
        // min-width: 200px;
    }
    td{
        text-align: center;
       
    }
   
    
}
.number{
   
    height: 60px;
    width: 40px;
}


.jami{
//    width: 100px;
    height: 55px;   
   }
.text{
    height: 70px;
    // background-color: aqua;
    width: 200px;

}